* {
    margin: 0;
    padding: 0;
}

.clear {
    border: 1px solid black !important;
    height: fit-content;
    padding: 6px 14px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    outline: none;

    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px) translateX(-3px);
        transition: all 0.3s ease;
        box-shadow: 4px 4px rgba(33, 33, 33, 0.93);
    }
}

.container {
    display: flex;
    margin-top: 20px;
}

.diff {
    margin: 10px 25px;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.cliff {
    margin: 15px 15px;
    box-shadow: 4px 6px rgb(66, 156, 253);

}

.card {
    background: linear-gradient(to right bottom, rgb(220, 239, 245), white);
    border: 1px solid rgb(180, 180, 180);

    .card-title {
        font-size: 1.9rem;
    }

    .card-text ul li {
        font-size: 1.4rem;
        color: rgb(47, 47, 47);

    }

    .card-text ul li:nth-child(3) {
        color: rgb(44, 79, 254);
    }
}

.another {
    div {
        margin: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form label {
        font-size: 1.3rem;
        font-weight: 500;
        margin-right: 10px;
    }

    form input {
        border-radius: 5px;
        outline: none;
        border: 1px solid rgb(104, 104, 104);
        height: 33px;
        padding: 5px;
    }

}

.mint {
    min-height: 63vh;
    display: flex;
    flex-wrap: wrap;

    .card {
        height: fit-content;
        background: #000d29ea;

        .card-title {
            color: rgb(33, 175, 252);
        }

        .card-text {
            color: rgb(244, 244, 244);
        }
    }
}